<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>New comment</h1>
        
        <form method="post" action="/comments">
            <section>
            <label for="username">Enter username</label>
            <input id="username" type="text" placeholder="username" name="username"></input>
            </section>
            
            <section>
            <label for="comment">Comment</label>
            <br />
            <textarea id="comment" cols="32" rows="5" name="comment"></textarea>
            </section>
            <button>submit</button>
        </form>
    </body>
</html>