<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="show" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1> comment id: <%=com.id%></h1>
        <h2><%= com.comment%>-<%=com.username%></h2>
        <a href="/comments">back to home</a>
    </body>
</html>